
<form asp-controller="Home" asp-action="Procesar">

    <div class="card">
        <label> Ingrese la cantidad de dinero que desea retirar</label>
        <p>

        </p>
        <input type="number" placeholder="Ingrese la cantidad" name="Monto" class="form-control" />

        <div>
            <button class="btn btn-primary">Retirar Dinero</button>
        </div>
        
        
  

    </div>


 
</form>